body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-size: 24px;
}


.topBar {
  border-bottom: solid 1px black;
}

.bootomBar {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  border-top: solid 1px black;

}